{% if content.resumo %}
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Resumo:</h2></div>
        <div class="panel-body">
            <p>{{ content.resumo }}</p>
        </div>
    </div>
{% endif %}

{% if content.linhas_pesquisa %}
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Linhas de pesquisa:</h2></div>
        <div class="panel-body">
            <ul class="list-group">
                {% for key, value in content.linhas_pesquisa %}
                    <li class="list-group-item"> {{ value }} </li> 
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% if content.livros %}
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Livros publicados:</h2></div>
        <div class="panel-body">
            <ul class="list-group">
            {% for key, value in content.livros %}
                <li class="list-group-item">
                {% for k, val in value.AUTORES %}
                    {{ val["NOME-PARA-CITACAO"] }} 
                    {% if k + 1 <  value.AUTORES|length %}
                        ;
                    {% endif %}
                {% endfor %}
                .
                {{ value["TITULO-DO-LIVRO"] }}. 
                {{ value["CIDADE-DA-EDITORA"] }}: {{ value["NOME-DA-EDITORA"] }},
                {{ value["ANO"] }}. {{ value["NUMERO-DE-PAGINAS"] }}p. 
                
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% if content.artigos %}
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Artigos completos publicados em periódicos:</h2></div>
        <div class="panel-body">
            <ul class="list-group">
            {% for key, value in content.artigos %}
                <li class="list-group-item">
                    {% for k, val in value.AUTORES %}
                        {{ val["NOME-PARA-CITACAO"] }} 
                        {% if k + 1 <  value.AUTORES|length %}
                            ;
                        {% endif %}
                    {% endfor %}
                    .
                    {{ value["TITULO-DO-ARTIGO"] }}. 
                    {{ value["TITULO-DO-PERIODICO-OU-REVISTA"] }},
                    v. {{ value["VOLUME"] }},
                    p. {{ value["PAGINA-INICIAL"] }} - {{ value["PAGINA-FINAL"] }},
                    {{ value["ANO"] }}.
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
