<div>
    <h1><center>{{ content.nome|convert_encoding('UTF-8', 'ISO-8859-1') }}<center></h1>
</div>
<br>

{% if content.resumo %}
    <div class="panel panel-default panel-docente">
        <div class="panel-heading">
            <h2 role="button" data-toggle="collapse" href="#collapseResumo" aria-expanded="true" aria-controls="collapseResumo">Resumo</h2>
        </div>
        <div class="panel-body collapse in" id="collapseResumo">
            <p>{{ content.resumo }}</p>
        </div>
    </div>
{% endif %}

{% if content.linhas_pesquisa %}
    <div class="panel panel-default panel-docente ">
        <div class="panel-heading">
            <h2 role="button" data-toggle="collapse" href="#collapseLinhaPesquisa" aria-expanded="true" aria-controls="collapseLinhaPesquisa">
                Linhas de pesquisa
            </h2>
        </div>
        <ul class="list-group collapse in" id="collapseLinhaPesquisa">
            {% for key, value in content.linhas_pesquisa %}
                <li class="list-group-item"> {{ value }} </li> 
            {% endfor %}
        </ul>
        
    </div>
{% endif %}

{% if content.livros %}
    <div class="panel panel-default panel-docente">
        <div class="panel-heading">
            <h2 role="button" data-toggle="collapse" href="#collapseLivrosPublicados" aria-expanded="true" aria-controls="collapseLivrosPublicados">
                Livros publicados
            </h2>
        </div>
        
        <ul class="list-group collapse in" id="collapseLivrosPublicados">
            {% for key, value in content.livros %}
                <li class="list-group-item">
                {% for k, val in value.AUTORES %}
                    {{ val["NOME-PARA-CITACAO"] }} 
                    {% if k + 1 <  value.AUTORES|length %}
                        ;
                    {% endif %}
                {% endfor %}
                
                {{ value["TITULO-DO-LIVRO"] }}. 
                {{ value["CIDADE-DA-EDITORA"] }}: {{ value["NOME-DA-EDITORA"] }},
                {{ value["ANO"] }}. {{ value["NUMERO-DE-PAGINAS"] }}p. 
                
                </li>
            {% endfor %}
        </ul>
      
    </div>
{% endif %}

{% if content.artigos %}
    <div class="panel panel-default panel-docente">
        <div class="panel-heading">
            <h2 role="button" data-toggle="collapse" href="#collapseArtigos" aria-expanded="true" aria-controls="collapseArtigos">
                Artigos completos publicados em periódicos
            </h2>
        </div>
        
        <ul class="list-group collapse in" id="collapseArtigos">
            {% for key, value in content.artigos %}
                <li class="list-group-item">
                    {% for k, val in value.AUTORES %}
                        {{ val["NOME-PARA-CITACAO"] }} 
                        {% if k + 1 <  value.AUTORES|length %}
                            ;
                        {% endif %}
                    {% endfor %}
                    
                    {{ value["TITULO-DO-ARTIGO"] }}. 
                    {{ value["TITULO-DO-PERIODICO-OU-REVISTA"] }},
                    v. {{ value["VOLUME"] }},
                    p. {{ value["PAGINA-INICIAL"] }} - {{ value["PAGINA-FINAL"] }},
                    {{ value["ANO"] }}.
                </li>
            {% endfor %}
        </ul>
       
    </div>
{% endif %}

{% if content.capitulos %}
    <div class="panel panel-default panel-docente"> 
        <div class="panel-heading">
            <h2 role="button" data-toggle="collapse" href="#collapseCapitulos" aria-expanded="true" aria-controls="collapseCapitulos">
                Capítulos publicados
            </h2>
        </div>
        
        <ul class="list-group collapse in" id="collapseCapitulos">
            {% for key, value in content.capitulos %}
                <li class="list-group-item">
                    {% for k, val in value.AUTORES %}
                        {{ val["NOME-PARA-CITACAO"] }} 
                        {% if k + 1 <  value.AUTORES|length %}
                            ;
                        {% endif %}
                    {% endfor %}
                    
                    {{ value["TITULO-DO-CAPITULO-DO-LIVRO"] }}. 
                    {{ value["TITULO-DO-LIVRO"] }},
                    v. {{ value["NUMERO-DE-VOLUMES"] }},
                    p. {{ value["PAGINA-INICIAL"] }} - {{ value["PAGINA-FINAL"] }},
                    {{ value["ANO"] }}.
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if content.orientandos %}
<div class="panel panel-default panel-docente">
    <div class="panel-heading">
        <h2 role="button" data-toggle="collapse" href="#collapseOrientandos" aria-expanded="true" aria-controls="collapseOrientandos">Orientandos Ativos</h2>
    </div>
        <div class="panel-body collapse in" id="collapseOrientandos">
        <table>
        <tr style="color:#ffffff;">
            <td bgcolor="#223d72">Número USP</td>
            <td bgcolor="#223d72">Nome orientando</td>
            <td bgcolor="#223d72">Área</td>
            <td bgcolor="#223d72">Nível de Programa</td>
        </tr>
        {% for row in content.orientandos %}
            <tr>
                <td>{{ row.codpespgm }}</td>
                <td>{{ row.nompes|convert_encoding('UTF-8', 'ISO-8859-1') }}</td>
                <td>{{ row.nomare|convert_encoding('UTF-8', 'ISO-8859-1') }}</td>
                {% if row.nivpgm == 'DO' %}
                <td>Doutorado</td>
                {% endif %}
                {% if row.nivpgm == 'DD' %}
                <td>Doutorado Direto</td>
                {% endif %}
                {% if row.nivpgm == 'ME' %}
                <td>Mestrado</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
</div>
{% endif %}

{% if content.orientandos_concluidos %}
<div class="panel panel-default panel-docente">
    <div class="panel-heading">
        <h2 role="button" data-toggle="collapse" href="#collapseOrientandosConcluidos" aria-expanded="true" aria-controls="collapseOrientandosConcluidos">Orientandos Concluídos</h2>
    </div>
        <div class="panel-body collapse in" id="collapseOrientandosConcluidos">
        <table>
        <tr style="color:#ffffff;">
            <td bgcolor="#223d72">Número USP</td>
            <td bgcolor="#223d72">Nome orientando</td>
            <td bgcolor="#223d72">Área</td>
            <td bgcolor="#223d72">Nível de Programa</td>
            <td bgcolor="#223d72">Data de defesa</td>
        </tr>
        {% for row in content.orientandos_concluidos %}
            <tr>
                <td>{{ row.codpespgm }}</td>
                <td>{{ row.nompes|convert_encoding('UTF-8', 'ISO-8859-1') }}</td>
                <td>{{ row.nomare|convert_encoding('UTF-8', 'ISO-8859-1') }}</td>
                {% if row.nivpgm == 'DO' %}
                <td>Doutorado</td>
                {% endif %}
                {% if row.nivpgm == 'DD' %}
                <td>Doutorado Direto</td>
                {% endif %}
                {% if row.nivpgm == 'ME' %}
                <td>Mestrado</td>
                {% endif %}
                <td>{{ row.dtadfapgm|date('m-d-Y') }}</td>
            </tr>
        {% endfor %}
        </table>
        </div>
</div>
{% endif %}
