<h1>{{ label }}</h1>

<p>{{ description }}</p>

Total: {{ content |length }}

<br>
  <table class="table table-striped">
    <thead>
      <tr>
          {% for key, value in content[0] %}
            <th> {{ key }} </th>
          {% endfor %}
      </tr>
    </thead>
    <tbody>

      {% for row in content %}
        <tr>
        {% for key, value in row %}
            {% if key == 'lattes' and value != '' %}
              <td>
                <a target="_blank" href="http://lattes.cnpq.br/{{ value }}">
                  <img src="http://buscatextual.cnpq.br/buscatextual/images/titulo-sistema.png">
                </a>
              </td>
            {% else %}
              <td>{{ value }}</td>
            {% endif %}
        {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

